Bonjour {{params.user}}

Vous recevez cet e-mail car vous faites partie des administrateurs fonctionnels de l'application {{params.app}}.

L'exécution du script {{params.script}} s'est terminé:
{% if params.num_errors == 0 -%}
- Sans erreur
{% else -%}
- avec {{params.num_errors}} erreur(s)
{%- endif %}

--
Cordialement.
{{params.sender}}
